<div class="side-bar-head">
  <div class="side-bar-user">Tom</div>
  <div class="side-bar-button"><a href="#">チャットを作成する</a></div>
</div>
<div class="rooms">
  <div class="side-bar-room">techroom1</div>
</div>